<style>
section {
    padding: 2px;
    display: flex;
    flex-wrap: wrap;
    &::after {
        content:'';
        flex-grow: 9999999;
    }
}
</style>


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

em – 其基本单位即为当前元素的font-size值，经常适用于media-queries中，em是特别适用于响应式开发中。
rem – 其是相对于html属性的单位，可以保证文本段落真正的响应式尺寸特性。
px – Pixels 并没有任何的动态扩展性，它们往往用于描述绝对单位，并且可以在设置值与最终的显示效果之间保留一定的一致性。

