<div ng-app="myapp" ng-controller="myCtrl"
>
<input type="text" ng-model="firstName"></input>
<input type="text" ng-model="lastName"></input>
{{firstName + "" + lastName}}


	
</div>

<script type="text/javascript">
	var app = angular.module('myapp', [])
	app.controller('myCtrl',function($scope){
		$scope.firstName = "John";
		$scope.lastName = "Doe";
	});
</script>


<div ng-app="myApp" ng-controller="myCtrl">
{{myWelcome}
}
	
</div>



<script type="text/javascript">
	var app = angular.module('myApp', []);

	appcontroller('myCtrl', function($scope, $http) {
		$http.get('welcome.htm').then(function(response) {
			$scope.myWelcome = response.data;
		});
	});

</script>

var app = angular.module('myapp', []);
app.controller('myCtrl', function($scope, $interval) {
	$scope.theTime = new Date().toLocaleTimeString();
	
})
<div ng-app="myApp" ng-controller="myCtrl">
<select ng-model="selectedName" ng-options="x for x in names"></select>
	
</div>

<script type="text/javascript">
	
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.names = ["google", "Runoob", "Taobao"];
	});

</script>