<div ng-app="myapp" ng-controller="myCtrl"
>
<input type="text" ng-model="firstName"></input>
<input type="text" ng-model="lastName"></input>
{{firstName + "" + lastName}}


	
</div>

<script type="text/javascript">
	var app = angular.module('myapp', [])
	app.controller('myCtrl',function($scope){
		$scope.firstName = "John";
		$scope.lastName = "Doe";
	});
</script>


<div ng-app="myApp" ng-controller="myCtrl">
{{myWelcome}
}
	
</div>



<script type="text/javascript">
	var app = angular.module('myApp', []);

	appcontroller('myCtrl', function($scope, $http) {
		$http.get('welcome.htm').then(function(response) {
			$scope.myWelcome = response.data;
		});
	});

</script>

var app = angular.module('myapp', []);
app.controller('myCtrl', function($scope, $interval) {
	$scope.theTime = new Date().toLocaleTimeString();
	
})
<div ng-app="myApp" ng-controller="myCtrl">
<select ng-model="selectedName" ng-options="x for x in names"></select>
	
</div>

<script type="text/javascript">
	
	var app = angular.module('myApp', []);
	app.controller('myCtrl', function($scope) {
		$scope.names = ["google", "Runoob", "Taobao"];
	});

</script>

table, th , td {
	border: 1px solid grey;
	border-collapse : collapse;
	padding:5px;
}

table tr :nth-child(odd) {
	backgroubnd-color: #fififi;
}


ng-if="$odd"

<p>
	yonghuming: <br>
	<input type="text" name="user" ng-model="user" required></input>
	<span style="color: red" ng-show="myFrom.user.$dirty && myForm.user.$invalid">
		<span ng-show="myForm.user.$error.required">yonghumingbixu</span>
	</span>
</p>

<p>
	youxiang:<br>
	<input type="email" name="email" ng-model="email" required>
		
</p>

<script type="text/javascript">
	var app = angualr.module('myApp',[]);
	app.controller('validateCtrl', function($scope) {
		$scope.user = "John"
		$scope.enail = 'john.de.@gmail.com';
	});
</script>